footer {
  background-color: var(--primary);
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
}

.h1-social-media {
  text-transform: uppercase;
  font-size: 0.7rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-footer {
  max-width: 180px;
  height: 180px;
}

.logo-footer-aside {
  text-align: center;
}


.sign-in-footer {
  color: var(--subtitle);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
  padding: 0.3rem;
  transition: all 0.3s ease;
  border-top: 1px solid var(--title);
  max-width: 100%;
}

.sign-in-footer:hover {
  color: var(--title);
  transform: scale(1.02);
}

.facebook{
  font-size:1.8rem ;
}
.facebook,
.instagram,
.tiktok,
.pinterest {
  font-size: 1rem;
  margin: 0.5rem 0.2rem;
  padding: 0.1rem;
  border: 1px solid var(--title);
  border-radius: 50%;
}
.facebook:hover,
.instagram:hover,
.tiktok:hover,
.pinterest:hover {
  color:#D04848;
  border:1px solid#D04848;
  cursor:pointer;
}

.register-footer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 80%;
  align-items: center;
}
.register-footer h1{
  font-size: 0.5rem;
}


/* media query  */
@media screen and (max-width: 660px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  .h1-social-media {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .facebook,
  .instagram,
  .tiktok,
  .pinterest {
    font-size: 1.5rem;
    margin: 0.5rem 0.2rem;
    padding: 0.3rem;
    border: 1px solid var(--title);
    border-radius: 50%;
  }
}
/* desktop */
@media screen and (min-width: 769px) {
  .facebook,
  .instagram,
  .tiktok,
  .pinterest {
    font-size: 1.8rem;
    padding: 0.4rem;
  }

.h1-social-media{
  font-size: 1.5rem;
}
.sign-in-footer{
  padding:.5rem;
  font-size: 1.8rem;
}

.register-footer h1{
  font-size: 0.8rem;
}

}
